<a href="https://colab.research.google.com/github/Yesner/Learning-Python/blob/master/Learning_Python_Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variables Annotated by Type**

Type annotations are optional in Python. They can be very helpful, though, because they make code easier to read. Annotations make the variable types clear to those reading the code. They can also help you catch errors during compilation. In the example below, we are using the typing module to annotate the different types of variables.

In [1]:
import typing
# Define a variable of type str
z: str = "Hello, world!"
# Define a variable of type int
x: int = 10
# Define a variable of type float
y: float = 1.23
# Define a variable of type list
list_of_numbers: typing.List[int] = [1, 2, 3]
# Define a variable of type tuple
tuple_of_numbers: typing.Tuple[int, int, int] = (1, 2, 3)
# Define a variable of type dict
dictionary: typing.Dict[str, int] = {"key1": 1, "key2": 2}
# Define a variable of type set
set_of_numbers: typing.Set[int] = {1, 2, 3}

**Coding skills**

**Skill Group 1**
Use variables to store values

Use basic arithmetic operators with variables to create expressions

Use explicit conversion to change a data type from float to string

In [2]:
# The following lines assign the variable to the left of the =
# assignment operator with the values and arithmetic expressions
# on the right side of the = assignment operator.
hotel_room = 100
tax = hotel_room * 0.08
total = hotel_room + tax
room_guests = 4
share_per_person = total/room_guests


# This line outputs the result of the final calculation stored
# in the variable "share_per_person"
print("Each person needs to pay: " + str(share_per_person)) # change a data type

Each person needs to pay: 27.0

**Skill Group 2**

Output multiple string variables on a single line to form a sentence

Use the plus (+) connector or a comma to connect strings in a print() function

Create spaces between variables in  a print() function

In [3]:
# The following 5 lines assign strings to a list of variables.
salutation = "Dr."
first_name = "Prisha"
middle_name = "Jai"
last_name = "Agarwal"
suffix = "Ph.D."

print(salutation + " " + first_name + " " + middle_name + " " + last_name + ", " + suffix)
# The comma as a string ", " adds the conventional use of a comma plus a
# space to separate the last name from the suffix.

# Alternatively, you could use commas in place of the + connector:
print(salutation, first_name, middle_name, last_name,",", suffix)
# However, you will find that this produces a space before a comma within a string.

Dr. Prisha Jai Agarwal, Ph.D.
Dr. Prisha Jai Agarwal , Ph.D.

**Skill Group 3**

Resolve TypeError caused by a data type mismatch issue

Use an explicit conversion function

In [5]:
# The following code causes a type error between a string
# and an integer:

print("5 * 3 = " + (5*3))


# Resolution:
# print("5 * 3 = " + str(5*3))
#
# To avoid a type error between the string and the integer within the
# print() function, you can make an explicit data type conversion by
# using the str() function to convert the integer to a string.

TypeError: can only concatenate str (not "int") to str

**Skill Group 4**

Resolve a ZeroDivisionError caused by an attempt to divide by 0

In [7]:
numerator = 7
denominator = 0   # Possible resolution: Change the denominator value
result = numerator / denominator
print(result)


# One possible assumption for a number divided by zero error might
# include the issue of a null value as a denominator (could happen when
# using a loop to iterate over values in a database). In such cases, the
# desired outcome may be to leave the numerator value intact. The
# numerator value can be preserved by reassigning the denominator with
# the integer value of 1. The result would then equal the numerator.

ZeroDivisionError: division by zero

Built-in **functions**

In [8]:
month = "September"
print("Investigate failed login attempts during", month, "if more than", 100)

Investigate failed login attempts during September if more than 100

type()

In [9]:
print(type("This is a string"))

<class 'str'>

It displays str(), which means that the argument passed to the type() function is a string. This happens because the type() function is processed first and its output is passed as an argument to the print() function.

str()

In [10]:
number = 12
string_representation = str(number)
print(string_representation)

12

sorted()

In [11]:
time_list = [12, 2, 32, 19, 57, 22, 14]
print(sorted(time_list))

[2, 12, 14, 19, 22, 32, 57]

This displays the sorted list.

The sorted() function does not change the iterable that it sorts. The following code illustrates this:

In [12]:
time_list = [12, 2, 32, 19, 57, 22, 14]
print(sorted(time_list))
print(time_list)

[2, 12, 14, 19, 22, 32, 57]
[12, 2, 32, 19, 57, 22, 14]

The first print() function displays the sorted list. However, the second print() function, which does not include the sorted() function, displays the list as assigned to time_list in the first line of code.

One more important detail about the sorted() function is that it cannot take lists or strings that have elements of more than one data type. For example, you can’t use the list [1, 2, "hello"].

max() and min()

In [13]:
time_list = [12, 2, 32, 19, 57, 22, 14]
print(min(time_list))
print(max(time_list))

2
57

**Returning values**

In [14]:
def area_triangle(base, height):
    return base*height/2

In [15]:
area_a = area_triangle(5,4)
area_b = area_triangle(7,3)

In [16]:
sum = area_a + area_b

In [17]:
print("The sum of both areas is: " + str(sum))

The sum of both areas is: 20.5

In [18]:
def area_triangle(base, height):
    return base*height/2
area_a = area_triangle(5,4)
area_b = area_triangle(7,3)
sum = area_a + area_b
print("The sum of both areas is: " + str(sum))

The sum of both areas is: 20.5

In [19]:
def convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) // 60
    remaining_seconds = seconds - hours * 3600 - minutes * 60
    return hours, minutes, remaining_seconds

In [20]:
hours, minutes, seconds = convert_seconds(5000)
print(hours, minutes, seconds)

1 23 20

In [21]:
def convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) // 60
    remaining_seconds = seconds - hours * 3600 - minutes * 60
    return hours, minutes, remaining_seconds

hours, minutes, seconds = convert_seconds(5000)
print(hours, minutes, seconds)

1 23 20

In [22]:
def greeting(name):
    print("Welcome, " + name)
result = greeting("Christine")
print(result)

Welcome, Christine
None


**The principles of code reuse**

In [24]:
name = "Yesner"
number = len(name) * 9

print("Hello " + name + ". Your lucky number is " + str(number))

name = "Salgado"
number = len(name) * 9

print("Hello " + name + ". Your lucky number is " + str(number))

Hello Yesner. Your lucky number is 54
Hello Salgado. Your lucky number is 63

In [25]:
def lucky_number(name):
    number = len(name) * 9
    print("Hello " + name + ". Your lucky number is " + str(number))

lucky_number("Kay")
lucky_number("Cameron")

Hello Kay. Your lucky number is 27
Hello Cameron. Your lucky number is 63

**Code style**

In [26]:
def calculate(d):
    q = 3.14
    z = q * (d ** 2)
    print(z)

calculate(5)
#Output is 78.5

78.5

In [27]:
def circle_area(radius):
    pi = 3.14
    area = pi * (radius ** 2)
    print(area)

circle_area(5)
#Output is 78.5

78.5

In [28]:
#This is how you write a comment in Python
#Just add a hash symbol to the beginning of your line of code

# **Functions**

**Coding skills**

Skill Group 1

Use a function that accepts multiple parameters

Return a result value

In [29]:
# This function calculates the number of days in a variable number of
# years, months, and days. These variables are provided by the user and
# are passed to the function through the function’s parameters.
def find_total_days(years, months, days):
# Assign a variable to hold the calculations for the number of days in
# a year (years*365) plus the number of days in a month (months*30) plus
# the number of days provided through the "days" parameter variable.
    my_days = (years*365) + (months*30) + days
# Use the "return" keyword to send the result of the "my_days"
# calculation to the function call.
    return my_days

# Function call with user provided parameter values.
print(find_total_days(2,5,23))

903

**Skill Group 2**

Use a function to return the result of a measurement conversion

Use arithmetic operators to perform a calculation

Combine text with a function call within a print() statement

Convert the return value from a float data type to a string for the print() function

Call the function and perform a calculation on the return value within a print() statement

In [30]:
# This function converts fluid ounces to milliliters and returns the
# result of the conversion.
def convert_volume(fluid_ounce):
# Calculate value of the "ml" variable using the parameter variable
# "fluid_ounce". There are approximately 29.5 milliliters in 1 fluid
# ounce.
    ml = fluid_ounce * 29.5
# Return the result of the calculation.
    return ml

# Call the conversion from within the print() function using 2 fluid
# ounces. Convert the return value from a float to a string.
print("The volume in milliliters is " + str(convert_volume(2)))

# Call the function again and double the 2 fluid ounces from within
# the print function.
print("The volume in milliliters is " + str(convert_volume(2)*2))
# Alternative calculation:
# print("The volume in milliliters is " + str(convert_volume(4))

The volume in milliliters is 59.0
The volume in milliliters is 118.0

**Comparison Operators with Equations**

PART 1: Equality == and Not Equal To != Operators

In [31]:

print(32 == 30+2)   # The == operator checks if the 2 values are
True                # equal to each other. If they are equal,
                    # Python returns a True result.


print(5+10 == 6+7)  # If the two values are not equal, as in the
False               # expression 5+10 == 6+7 (or 15 == 13), Python
                    # returns a False result.


print(10-4 != 10+4) # The != operator checks if the 2 values are
True                # NOT equal to each other. If true, Python
                    # returns a True result.


print(9/3 != 3*1)   # In this last example, 9/3 != 3*1 (or 3 != 3)
False               # is false. So, Python returns a False value.

True
False
True
False

False

The equality == operator versus the equals = operator

In [32]:

# The = equals assignment operator is used to assign a value to a
# variable.

my_variable = 3*5           # Assigns a value to my_variable
print(my_variable)          # Printing the variable returns the
15                          # value assigned to the variable.



# The == equality comparison operator checks if the values of the two
# expressions on either side of the == operator are equivalent to one
# another.

print(my_variable == 3*5)   # Printing the variable returns a Boolean
True                        # True or False result.

15
True

True

PART 2: Greater Than > and Less Than < Operators

In [33]:

print(11 > 3*3)         # The > operator checks if the left value is
True                    # greater than the right value. If true, it
                        # returns a True result.


print(4/2 > 8-4)        # If the > operator finds that the left value
False                   # is NOT greater than the right value, the
                        # comparison will return a False result.


print(4/2 < 8-4)        # The < operator checks  if the left value is
True                    # less than the right side. If true, the
                        # comparison returns a True result.


print(11 < 3*3)         # If the < operator finds that the left side is False
                        # NOT less than the right value, Python returns
False                   # a False result.

True
False
True
False

False

PART 3: Greater Than or Equal to >= and Less Than or Equal to <= Operators

In [34]:

print(12*2 >= 24)   # The >= operator checks if the left value is
True                # greater than or equal to the right value.
                    # If one of these conditions is true,
                    # Python returns a True result. In this case
                    # the two values are equal. So, the comparison
                    # returns a True result.


print(18/2 >= 15)   # If the >= comparison determines that the left
False               # value is NOT greater than or equal to the
                    # right, it returns a False result.

print(12*2 <= 30)   # The <= operator checks if the left value is
True                # less than or equal to the right value. In
                    # this case, the left value is less than the
                    # right value. Again, if one of the two
                    # conditions is true, Python returns a True
                    # result.


print(15 <= 18/2)   # If the <= comparison determines that the left
False               # value is NOT less than or equal to the right
                    # value, the comparison returns a False result.

True
False
True
False

False

**Comparison Operators with Strings**

PART 1: Equality == and Not Equal to != Operators with Strings

In [35]:
# The == operator can check if two strings are equal to each other.
# If they are equal, the Python interpreter returns a True result.
print("a string" == "a string")
True


# In this example, the equality == comparison is between "4 + 5" and
# 4 + 5. Since the left data type is a string and the right data type
# is an integer, the two values cannot be equal. So, the comparison
# returns a False result.
print("4 + 5" == 4 + 5)
False


# The != operator can check if the two strings are NOT equal to each
# other. If they are indeed not equal, then Python returns a True result.
print("rabbit" != "frog")
True


# In this example, the variable event_city has been assigned the string
# value "Shanghai". This variable is compared to a static string,
# "Shanghai", using the != operator. As, the strings "Shanghai" and
# "Shanghai" are the same, the comparison of "Shanghai" != "Shanghai"
# is false. Accordingly, Python will return a False result.
event_city = "Shanghai"
print(event_city != "Shanghai")
False

# This last example illustrates the result of trying to compare two
# items of different data types using the equality == operator. The
# two items are not equal, so the comparison returns False.
print("three" == 3)
False

True
False
True
False
False

False

PART 2: The Greater Than > and Less Than < Operators

In [36]:
# The greater than > operator checks if the left string has a higher
# Unicode value than the right string. If true, the Python interpreter
# returns a True result. Since W has a Unicode value of 87, and you can
# easily calculate that F has a Unicode value of 70, this comparison is
# the same as 87 > 70. As this is true, Python will return a True
# result.
print("Wednesday" > "Friday")
True


# The less than < operator checks if the left string has a lower
# Unicode value than the right string. If you reference the Unicode
# chart above, you can see that all lowercase letters have higher
# Unicode values than uppercase letters. We can see that B has a
# Unicode value of 66 and b has a Unicode value of 98. This
# comparison is the same as 66 < 98, which is true. So, Python will
# return a True result.
print("Brown" < "brown")
True


# If the strings have the same first few letters, the comparison will
# cycle through each letter of each string, from left to right until it
# finds two letters that have different Unicode values. In this example,
# both strings share the initial substring "sun", but then have
# different letters with different Unicode values in the fourth place
# in each string. So, the fourth letters 'b' and 't' of the two
# strings are used for the comparison. Since 'b' does not have a higher
# Unicode value than 't', the comparison returns a False result.
print("sunbathe" > "suntan")
False


# If two identical strings are compared using the less than < comparison
# operator, this will produce a False result because they are equal.
print("Lima" < "Lima")
False


# This last example illustrates the result of trying to compare two
# items of different data types using the less than < operator. The
# greater than > and less than operators < cannot be used to compare
# two different data types.
print("Five" < 6)
'''
Error on line 1:
    print("Five" < 6)
TypeError: '<' not supported between instances of 'str' and 'int'

SyntaxError: incomplete input (<ipython-input-36-a92d205ce61a>, line 45)

PART 3: The Greater Than or Equal To >= and Less Than or Equal To <= Operators

In [37]:
# Use the Unicode chart in Part 2 to determine if the Unicode values of
# the first letters of each string are higher, lower, or equal to one
# another.


var1 = "my computer" >= "my chair"
var2 = "Spring" <= "Winter"
var3 = "pineapple" >= "pineapple"

print("Is \"my computer\" greater than or equal to \"my chair\"? Result: ", var1)
print("Is \"Spring\" less than or equal to \"Winter\"? Result: ", var2)
print("Is \"pineapple\" less than or equal to \"pineapple\"? Result: ", var3)

Is "my computer" greater than or equal to "my chair"? Result:  True
Is "Spring" less than or equal to "Winter"? Result:  True
Is "pineapple" less than or equal to "pineapple"? Result:  True

**Logical Operators**

PART 1: The and Logical Operator

In [38]:
# Example 1

print((6*3 >= 18) and (9+9 <= 36/2))

True

 In the example above, the following activities were completed by Python in the following order:  

Python solves the numerical expressions using the order of operations. (6*3 >= 18) and (9+9 <= 36/2) becomes (18 >= 18) and (18 <= 18)

Python compares the results of the numerical expressions using the comparison operators (in this case >= and <=). (18 >= 18) and (18 <= 18) becomes True and True

Python checks if both sides of the logical operator "and" are true. True and True become True

Python returns a Boolean value: True or False. The complex comparison returns a True result.

*Example 2:*

In this next example, "Nairobi" < "Milan" and "Nairobi" > "Hanoi", the and logical operator is connecting two string comparison statements. You learned previously that using the greater than and less than operators on strings will test the alphabetical order (technically Unicode values) of the strings. So, this complex comparison is checking if "Nairobi" is alphabetized before "Milan" (False) AND after "Hanoi" (True).

This comparison returns a False result because both sides of the logical operator are not True. A comparison statement like this might be used to iterate through a list of names to check if they are alphabetized in the correct order.

In [39]:
# Example 2

print("Nairobi" < "Milan" and "Nairobi" > "Hanoi")

False

PART 2: The or Logical Operator

In [40]:
# Define country and city variables
country = "United States"
city = "New York City"

# True or True returns True
print((15/3 < 2+4) or (0 >= 6-7))  # True or True = True

# False or True returns True
print(country == "New York City" or city == "New York City")  # False or True = True

# True or False returns True
print(16 <= 4**2 or 9**(0.5) != 3)  # True or False = True

# False or False returns False
print("B_name" > "C_name" or "B_name" < "A_name") # False or False = False

True
True
True
False

PART 3: The not Logical Operator

In [41]:
# Test Example 1:

x = 2*3 > 6
print("The value of x is:")
print(x)

print("")  # Prints a blank line

print("The inverse value of x is:")
print(not x)

The value of x is:
False

The inverse value of x is:
True

In [42]:
# What happens when you negate a False statement?
# Click Run when you are ready to check your answer.


today = "Monday"
print(not today == "Tuesday")


# The "today" variable states today is Monday. This makes the comparison
# "today == Tuesday" False. The logical operator "not" inverts the False
# result to become True. In other words, this expression asks if it is
# false that today is not Tuesday. More succinctly, "not False" means
# True."

True

elif statements

In [43]:
def hint_username(username):
    if len(username) < 3:
        print("Invalid username. Must be at least 3 characters long")
    else:
        if len(username) > 15:
            print("Invalid username. Must be at most 15 characters long")
        else:
            print("Valid username")

*About this code*

This snippet of code defines a function called hint_username. The if len(username) < 3: statement checks the length of the string username. If the length of the string is less than 3 characters, the code inside the if statement is executed. The print("Invalid username. Must be at least 3 characters long") statement prints the message "Invalid username. Must be at least 3 characters long". The else: statement is executed if the length of the string username is greater than 15 characters. In this case, the code inside the else statement is executed, which is the print("Invalid username. Must be at most 15 characters long") statement. If the username is the correct length, between 3 and 15 characters long,  print("Valid username") is executed.

In [44]:
def hint_username(username):
    if len(username) < 3:
        print("Invalid username. Must be at least 3 characters long")
    elif len(username) > 15:
        print("Invalid username. Must be at most 15 characters long")
    else:
        print("Valid username")

*About this code*

This snippet of code works the same way as the code block we just looked at. The difference is that this code uses the  elif statement.  elif statements must be used along with an if statement. The elif statement will only be checked if the condition of the if statement was not true.

**Study Guide: Conditionals**

In the Conditionals segment, you learned about the built-in Python operators used for comparing values and the logical operators for making complex comparisons. You also learned how to use operators in if-else-elif blocks.

Knowledge
Comparison operators with numerical values
Comparison expressions return a Boolean result (True or False).

* x == y        If x is equal to y, return True. Else, return False.

* x != y         If x is not equal to y, return True. Else, return False.

* * x < y          If x is less than y, return True. Else, return False.

* x <= y        If x is less than or equal to y, return True. Else, return False.

* x > y          If x is greater than y, return True. Else, return False.

* x >= y        If x is greater or equal to y, return True. Else, return False.

*Comparison operators with strings*.

Comparison expressions with strings also return a Boolean result (True or False).

* "x" == "y"  If the words are the same, return True. Else, return False.

* "x" != "y"   If the words are not the same, return True. Else, return False.

When used with strings, the following comparison expressions will alphabetize the strings.

* "x" < "y"   	If string "x"  has a smaller Unicode value than string "y", return True.  Else, return False.

* "x" <= "y" 	If the Unicode value for string "x" is smaller than or equal to the Unicode value of string "y", return True. Else, return False.

* "x" > "y"    	If string "x" has a larger Unicode value than string "y", return True. Else, return False.

* "x" >= "y"  	If the Unicode value for string "x" is greater than or equal to the Unicode value of string "y", return True. Else, return False.


*Unicode values for the alphabet*

Image containing the unicode value of each letter of the alphabet
 The Unicode numbering for the alphabet starts at 65 for capital letter A and runs to 90 for capital letter Z. Then, the lowercase alphabet values start at 97 for lowercase a and run to 122 for lowercase z. Using these Unicode numbers, capital A's code is less than the codes of all other letters, which Python interprets as the beginning of the alphabet. Lowercase z's code is greater than the codes of all other letters, which Python interprets as the ultimate end of the English alphabet.


*Logical operators*

Logical operators are used to combine comparison expressions and also return Boolean results (True or False).

* comparison1 and comparison2

** Returns a True result if both comparison1 and comparison2 are true.

** If they are not both true, return False.

comparison1 or comparison2

Returns a True result if either comparison1 and/or comparison2 are True.

If neither comparison is true, return False.

not comparison1

Returns the inverse Boolean value of the comparison.

Returns a True result if comparison1 is false.

If comparison1 is true, then returns False.

In [46]:
# The value of 10*4 (40) is greater than 14+23 (37), therefore this
# comparison expression will return the Boolean value of True.


print(10*4 > 14+23) # Should print True

# The letter "t" has a Unicode value of 116 and the letter "s" has a
# Unicode value of 115. Since 116 is not less than 115, the
# comparison of "tall" < "short" (or 116 < 115) is False.

print("tall" < "short")  # Should print False

True
False

In [47]:
# This function accepts one variable as a parameter
def translate_error_code(error_code):

# The if-elif-else block assesses the value of the variable
# passed to the function as a parameter. The if statement uses
# the equality operator == to test the value of the variable.
# This test returns a Boolean (True/False) result.
    if error_code == "401 Unauthorized":
# If the comparison above returns True, then the indented
# line(s) inside the if-statement will run. In this case, the
# action is to assign a string to the translation variable.
# The remainder of the if-elif-else block will not run.
# The Python interpreter will skip to the next line outside of
# the if-elif-else block. In this case, the next line is the
# return value statement.
        translation = "Server received an unauthenticated request"

# If the initial if-statement returns a False result, then the
# first elif-statement will run a different test on the value
# of the variable.
    elif error_code == "404 Not Found":
# If the first elif-statement returns a True result, then the
# indented line(s) inside the first elif-statement will run.
# After this line, the remainder of the if-elif-else block will
# not run. The Python interpreter will skip to the next line
# outside of the if-elif-else block.
        translation = "Requested web page not found on server"

# If both the initial if-statement and the first elif-statement
# return a False result, then the second elif-statement will
# run.
    elif error_code == "408 Request Timeout":
# If the second elif-statement returns a True result, then the
# indented line(s) inside the second elif-statement will run.
# After this line, the remainder of the if-elif-else block will
# not run. The Python interpreter will skip to the next line
# outside of the if-elif-else block.
        translation = "Server request to close unused connection"

# If the conditional tests above do not produce a True result
# then the else-statement will run.
    else:
        translation = "Unknown error code"
# The if-elif-else block ends.

# The next line outside of the if-elif-else block will run
# after exiting the block. In this case, the next line returns
# the output from the if-elif-else block.
    return translation

# The print() function allows us to display the output of the
# function. To call a function in a print statement, the syntax
# is print(name_of_function(parameter))
print(translate_error_code("404 Not Found"))

# Expected output:
# Requested web page not found on server

Requested web page not found on server

In [48]:
# Sets value of the "number" variable
number = 25

# The "number" variable will first be compared to 5. Since it is
# False that "number" is not less than or equal to 5, the expression indented
# under this line will be ignored.
if number <= 5:
   print("The number is 5 or smaller.")

# Next, the "number" variable will be compared to 33. Since it is
# False that "number" is equal to 33, the expression indented under
# this line will be ignored.
elif number == 33:
   print("The number is 33.")

# Then, the "number" variable will be compared to 32 and 6. Since it
# is True that 25 is less than 32 and greater than 6, the Python
# interpreter will print "The number is less than 32 and/or greater
# than 6." Then, it will exit the if-elif-else statement and the remainder
# of the if-elif-else statement will be ignored.
elif number < 32 and number >= 6:
   print("The number is less than 32 and greater than 6.")

else:
   print("The number is " + str(number))

# Expected output is:
# The number is less than 32 and greater than 6.

The number is less than 32 and greater than 6.

In [49]:
# This function rounds a variable number up to the nearest 10x value
def round_up(number):
  x = 10
# The floor division operator will calculate the integer value of
# "number" divided by x: 35 // 10 will return the integer 3.
  whole_number = number // x
# The modulo operator will calculate the remainder value of "number"
# divided by x: 35 % 10 will return the remainder value 5.
  remainder = number % x
# If the remainder is greater than or equal to 5:
  if remainder >= 5:
# Return x multiplied by the (whole_number+1) to round up
    return x*(whole_number+1)
# Else, return x multiplied by the whole_number to round down
  return x*whole_number

# Calls the function with the parameter value of 35.
print(round_up(35)) # Should print 40

40

**Exercises**


```
number = 4
if number * 4 < 15:
 print(number / 4)
elif number < 5:
 print(number + 3)
else:
 print(number * 2 % 5)


```

*What would be the output?*

1. 1
2. 3
3. 4
4. 7

*Consider the following scenario about using if-elif-else statements:*

Students in a class receive their grades as Pass/Fail. Scores of 60 or more (out of 100) mean that the grade is "Pass". For lower scores, the grade is "Fail". In addition, scores above 95 (not included) are graded as "Top Score".

Fill in the blanks in this function so that it returns the appropriate "Pass",  "Fail", or "Top Score" grade.

In [ ]:
#Enter code here.

What's the value of this Python expression?

((10 >= 5*2) and (10 <= 5*2))


1. True
2. False
3. 10
4. 5*2

Fill in the blanks to complete the function. The “make_positive” function takes in a number and converts that number to its positive equivalent.  Complete the function to accomplish the following tasks:

* use an if statement to test if the number is negative;

* use a calculation inside the if statement to change the negative number to be positive;

* use a calculation in the else statement to return any positive “number” unchanged.

In [51]:
def make_positive(number):
    if number:

    else:

    return


print(make_positive(-4))   # Should print 4
print(make_positive(0))    # Should print 0
print(make_positive(-.25)) # Should print 0.25
print(make_positive(5))    # Should print 5

IndentationError: expected an indented block after 'if' statement on line 2 (<ipython-input-51-099e2c5cee91>, line 4)

Fill in the blanks to complete the function. The “complementary_color” function receives a primary color name in all lower case, then prints its complementary color. Currently, the function only supports the primary colors of red, yellow, and blue. It returns "unknown" for all other colors or if the word has any uppercase characters.

In [52]:
def complementary_color(color):
    if :

    elif :

    elif :

    else:

    return

print(complementary_color("blue")) # Should print orange
print(complementary_color("yellow")) # Should print purple
print(complementary_color("red")) # Should print green
print(complementary_color("black")) # Should print unknown
print(complementary_color("Blue")) # Should print unknown
print(complementary_color("")) # Should print unknown

SyntaxError: invalid syntax (<ipython-input-52-4a241df3438e>, line 2)